.idea/
wp-admin/
wp-includes/
wp-config-sample.php
wp-load.php
wp-blog-header.php
wp-signup.php
wp-links-opml.php
index.php
xmlrpc.php
wp-activate.php
wp-settings.php
wp-mail.php
wp-cron.php
wp-login.php
wp-trackback.php
wp-comments-post.php
wp-content/themes/journeyPure/node_modules/
wp-config.php
/wp-content/themes/journeyPure/header.php
