.bio-default{

  .bio{
	box-shadow: 1px 1px 3px  rgba(0,0,0,.16);
	margin: $md-space;
	border-radius: 20px 0 20px  0;
	overflow: hidden;

	figure{

	  background:  no-repeat top center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  margin: 0;

	  .name {
		position: absolute;
		border-radius:  0 5px 5px 0;
		bottom: 84px;
		padding: 5px 5px 8px 10px;
		background: $background-color;
		//background: rgba(255, 255, 255, .5);
	  }
	}
	.sub-caption{
	  padding: 5px 5px 8px 10px;
	  background: $secondary;
	  border-top:5px solid darken($secondary,5%);
	  display: block;
	  color: white;

	}
  }
}
