.bio-default{

  .bio{
	box-shadow: 0px 2px 4px rgba(0,0,0,.18);
	margin: 0 $md-space 30px;
	overflow: hidden;
	background: $background-color;

	@media (max-width: 767px) {
				margin:0 0px 15px;
			  }

	.tophat {
		position: absolute;
		top: 7px;
		background-color: $light-blue;
		color: $primary;
		right: 22px;
		border-radius: 18px;
		padding: 6px 12px;
		font-weight: 600;
		transition: all 150ms ease-in-out;

		&:focus, &:hover {
			background-color: $primary;
			color: $light-blue;
		}
	}

	figure{

	  background:  no-repeat top center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  height: 240px;
	  margin: 0;
	  filter: grayscale(100%);


	}
	 .name {
    font-weight: 600;
	color:#333;
	  }
	.sub-caption{
	  padding: 13px 15px;
	  display: block;
	  color: $main-gray;
      font-size: 17px;
	  font-family:$heading-font;
	  line-height: 1.25;
	}
	.like-button {
	  cursor: pointer;
	  float: right;
	  margin: 15px 10px;
	  padding: 10px 0;
	  border-radius: 3px;
	  color: $primary;
	  font-size: 14px;
	  font-weight: bold;
	}
  }
}
