.cta-widget{
  z-index: 100;
  background: $background-color;
  padding: 22px 20px;
  border-radius: 3px  3px 0 0;
  position: fixed;
  bottom: 0;
  right: $md-space;

  border-bottom: none;
  color: $main-font;
  font-weight: bold;
  $base-size: 16;
  font-family:$heading-font;
  width: 400px;
 @media (max-width:427px) { 
      width: 100%;
    right: 0;
	    border-left: 0;
		border-right:0;
}


.call-button {
   border-left: 2px dotted $accent;
}

  .callout {
	background-color: $accent;
	color: white;
	position: absolute;
	padding:8px 12px 10px;
	line-height: 34px;
	border-radius: 3px 3px 0 0;
	top: -131%;
	right: 0;
	font-weight: normal;
	margin-left:-2px ;
	width:101% !important;


	@media (max-width:767px) {
    padding: 8px 23px;
	}

	&.not-local{
	  left:0;
	  top: -78px;

	}

	.local-msg{
	  display: block;
	  font-size: 17px;
	  line-height: 1.2;
	  margin: 3px 0 5px;
	  color: $light-accent;
	  font-family:$heading-style-1; 
	}

	
	&:before {
	  top: 100%;
	  left: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  margin-top: -1px;
	}
	&:before {
	  border-top-color: $accent;
	  border-width: 10px;
	  margin-left: -10px
	}
  }
  .chat-box{

	cursor: pointer;
	i{
	  font-size: ($base-size*2)+px;
	  color: $accent;
	  margin-right: $sm-space;
	}
	display: flex;
	align-items: center;
  }
  .call-box{

	i{
	  font-size: $base-size+px;
	  border-radius: 50%;
	  width: ($base-size*2)+px;
	  height: ($base-size*2)+px;
	  line-height: ($base-size*2)+px;
	  text-align: center;
	  color: $background-color;
	  background-color: $accent;
	}
	a{
	  color: $main-font;
	}
  }

  &.on{
	.callout{
	  i{
		cursor: pointer;
	  }
	}
  }
}
.ctm-chat-container{
  background: $background-color;
}
.ctm-chat-widget{
  position: fixed;
  right: 15px;
  z-index: 1000;
  background: $background-color;
  width: 400px;
  border: red 2px solid !important;
  border-bottom: none  !important;
  height: 240px;
  bottom: 0;

  #icon-chat {
	bottom: 30px;
	right: 0;
	left: 0;
	margin: auto;
  }
}
