// External HTML from Frontman (makerobos.com)

.mkosBTNContainer._widgetRight {
	@media screen and (min-width: 768px) {
		right: 185px !important;
	}
}

.mkosBTNContainer._widgetRight .mkosBTNFrame {
	@media screen and (min-width: 768px) {
		right: 185px !important;
	}
}

.mkosBTNContainer._widgetRight .mr-btn-wrapper {
	@media screen and (min-width: 768px) {
		right: 225px !important;
	}
}

.makerobos_containerMain._widgetRight._large .makerobos_containerIn {
	@media screen and (min-width: 768px) {
		right: 300px !important;
	}
}

// Custom code (frontman.js)

.mr-btn-wrapper-jp-text {
    background-color: #ea4335;
 	bottom: 42px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
	height: 65px;
    justify-content: center;
    padding: 10px 8px 9px 66px;
    position: fixed;
	right: 0;
	transition: all 150ms ease-in-out;
    width: 272px;
	z-index: 2147482998;
	border-radius: 40px 0 0 40px;

	@media screen and (max-width: 767px) {
		left: 40px;
		padding: 6px 0 7px 0;
		right: 38px;
		width: auto;
		border-radius: 40px;
		height: 74px;
    bottom: 38px;
	}

	&.msie {
		padding: 10px 20px;
	}

	&:hover, &:focus {
		background-color: darken($color: #ea4335, $amount: 5%);
		color: #fff;
	}
}

.mr-btn-wrapper-jp-text-top {
	font-size: 17px;
    margin-bottom: 0px;
    pointer-events: none;
	line-height:17px;
		@media screen and (max-width: 767px) {
	margin: 0 0 0 14%;
	line-height:25px;}
}

.mr-btn-wrapper-jp-text-bottom {
    font-size: 22px;
	font-weight: 600;
    pointer-events: none;
	@media screen and (max-width: 767px) {
		font-size:17px;
		margin: 0 0 0 13%;
		
	}
	i{
	opacity: .4;
    vertical-align: middle;
    transform: rotate(45deg);
    margin-right: -4px;
	
	}
}
