.media-outlets{
	margin-top:20px;
  .media-con{
	@media (max-width: 767px) {
	  display: block;
	  width: 50%;
	}
  }
  .media-box{
	background: $background-color;
	height: auto;
	margin: 3px;
	align-items: center;
	justify-content: center;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 7px 29px;

	img {
	  width: 100%;
	  max-width: 54px;
	  display: block;
	  margin: auto;
	  -webkit-filter: grayscale(100%);
	  filter: grayscale(100%);
	}
  }
}
