.ratings{
  &.default{
	background: white;
	padding: $md-space;
	border-top: 8px solid $secondary;
	box-shadow: 2px 3px 3px rgba(99, 99, 99, 0.27);
	margin-bottom: 10px;
	display: block;


	img{
	  display: block;
	  width:100%;
	  max-width: 45px;
	}
	.content{
	  p{
		margin-bottom: 0;
		line-height: 22px;
		padding-bottom: 0;

		&.sub{
		  color: $gray-500;
		}
	  }
	  i,.text-value{
		color:$accent;
	  }
	}
  }
  &.inline{
	height: 100%;
  }
}
