.ratings{
  &.default{
	background: white;
	padding: $md-space;
	border-top: 8px solid $secondary;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	margin-bottom: 10px;
	display: block;
	border-radius: 0 0 3px 3px;


	img{
	  display: block;
	  width:100%;
	  max-width: 45px;
	}
	.content{
	  p{
		margin-bottom: 0;
		line-height: 22px;
		padding-bottom: 0;
		font-family: $heading-font;
		font-size:16px;
		color:black;

		&.sub{
		  color: $main-gray;
		  font-size: 13px;
		}
	  }
	  i{
	  color:$stars;
	  }
	  .text-value{
		color:$primary;
		font-weight:bold;
	  }
	}
  }
  &.inline{
	height: 100%;
  }
}
