.tag-list{
  .heading{
	display: block;
	margin-bottom: $md-space;
	 font-family:$heading-font;
	 margin-top: 3px;
	 color: $main-gray;
  }
  .tag{
	&.default{
	  width: auto;
	  background: $background-color;
	  border:$border-color 1px solid;
	  display:block;
	  vertical-align: middle;
	  text-align: center;
	  padding: 15px 5px;
	  margin-bottom: 11px;
	  margin-right: 15px;
	  font-family:$heading-font;
	  color: $main-gray;
	  font-weight: bold;
	}
  }
  margin-bottom: $lg-space;
}
