.above-fold{
  background-color: $primary;

  .top-content{
	position: relative;
	margin-top: -236px;
	@media (max-width: 767px) {
	  margin-top: -305px;
	}

	.headers{
	  display:none;
	  @media (max-width: 767px) {
		text-align: center;
		margin-bottom: $lg-space;
		display:block;
	  }
	  .heading-1,.heading-2{
		color: white;
		margin: 0;
		font-family: helvetica;
		line-height: 1.25;
		font-size:17px;
		font-weight:bold;
		letter-spacing: -1px;
	  }
	  .heading-2 {
		font-weight:normal !important;}
	}
  }
  .img-container{
	width: 100%;
	background:  no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 260px;

	@media (max-width: 767px) {
	  height: 375px;
	  border-radius: 0;
	  box-shadow: none;
	}
  }

  .heading{
	margin: auto;
	padding: $xl-space 0 ;
	color: white;
	text-align: center;
	max-width: $lg-width;
	.lead {
	  color: hsl(221,50%,92%);
	  font-size: 22px;
	  font-weight: 100;
	  font-style: italic;
	  font-family: $font-family-2;
	  p {
		color: hsl(221,50%,92%);
		    max-width: 800px;
    margin: 0 auto;
	  }
	}
  }

  .rating-section{
	float: right;
	width: auto;
	max-width: 330px;
	/*position: absolute;
    right: 100px;
    margin-top: -200px;*/

	@media (max-width: 767px) {
	  width: 90%;
	  float: none;
	  margin: auto;
	  opacity:.9;
	}
  }
}
