@mixin jp-highlights-v2 {
	overflow: hidden;

	h3, .h3 {
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	li {
		font-family: $font-family-2;
		margin-bottom: 20px;
		font-size: 17px;
	}

	.list-container {
		margin-top: 30px;

		.list-item {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}

			.content {
				@media screen and (min-width: 768px) {
					padding: 0 25px;
				}
			}

			.content-inner {
				background-color: #ffffff;
				padding: 25px 15px 15px;

				@media screen and (min-width: 768px) {
					border-radius: 30px 30px 0 0;
					padding: 30px 40px 15px;
				}
			}

			.item-title {
				color: $primary;
			}

			.review {
				background-color: #e2e7f5;
				padding: 25px 15px; 
				position: relative;

				@media screen and (min-width: 768px) {
					border-radius: 1px;
					box-shadow: 0px 2px 4px rgba(0,0,0,.18);
					display: flex;
					margin-top: -3px;
					min-height: 144px;
					padding: 30px 40px;

					&:before,
					&:after {
						background-image: radial-gradient(#e2e7f56b 50%, transparent 54%);
						background-size: 19px 19px;
						bottom: 0;
						content: '';
						height: 150px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 2000px;
					}

					&:before {
						background-position: right top;
						left: -2005px;
					}

					&:after {
						background-position: left top;
						right: -2005px;
					}
				}

				&-text {
					align-items: center;
					display: flex;
					font-style: italic;
					margin-bottom: 5px;

					@media screen and (min-width: 768px) {
						flex: 1 1 0px;
						margin-bottom: 0;
						width: auto;
					}

					p:last-child {
						padding-bottom: 0;
					}
				}

				&-author {
					align-items: center;
					display: flex;

					@media screen and (min-width: 768px) {
						flex: 0 0 auto;
						padding-left: 20px;
    					width: auto;
					}

					&-image {
						border-radius: 50%;
						margin-right: 15px;
						overflow: hidden;

						img {
							width: 40px;
						}
					}

					// &-info {}

					&-title {
						font-size: 14px;
						margin-bottom: 3px;
					}

					&-extra {
						align-items: center;
						display: flex;
					}

					&-stars {
						color: #ffce5f;
						font-size: 12px;
					}

					// &-star {}

					&-sober-since {
						color: #999;
						font-family: $heading-font;
						font-size: 12px;
						font-weight: 500;
						padding-bottom: 0;
					}

					&-logo {
						padding-left: 5px;
					}

					&-source-image {
						width: 15px;
						margin-top: -3px;
					}
				}
			}
		}
	}

	.logos {
		filter: grayscale(100%);
		width: 100%;

		@media screen and (min-width: 992px) {
			width: 50%;
		}

		&-wrapper {
			margin-bottom: 15px;
			margin-top: 15px;

			@media screen and (min-width: 992px) {
				display: flex;
				justify-content: center;
			}
		}
	}

	.btn {
		
		&-wrapper {
			margin-bottom: 40px;
			text-align: center;
		}
	}
}
