@import "jp-section";

@mixin jp-faq {
	@include jp-section;

	.heading {
		margin: auto;
		max-width: 900px;
		text-align: center;

		.h1 {
			display: inline-block;
			margin-bottom: 5px;
		}

		.lead {
			@extend .h3;

			margin: 20px 0;

			@media screen and (min-width: 768px) {
				margin-bottom: 40px;
			}
		}
	}

	.faqs {
		max-width: 800px;
		margin: 0 auto;

		.card {
			border: none;

			.card-header {
				margin-bottom: 0;
				cursor: pointer;
				background-color: white;
				padding: 22px 10px 12px;
				border-color: #333;
			}
		}

		.ask-a-question {
			text-align: center;
			margin: $lg-space auto;

			// .link { }
		}
	}
}
