@mixin jp-bios {
	padding: 50px 0;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	.h1 {
		font-style: unset;
		margin-bottom: 15px;
	}

	.heading,
	.subheading {
		text-align: center;
		max-width: $lg-width;
		margin: 0 auto;
	}

	.bio-slider {
		margin-top: $lg-space;
		visibility: hidden;

		&.slick-initialized {
			visibility: visible;
			opacity: 1;
			font-family: $heading-font;
		}

		.card {
			margin: auto;

			.bios {
				.img {
					background: no-repeat center;
					background-size: cover;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					display: block;
					margin: 5px auto $lg-space;
				}

				.name-text {
					font-weight: 500;
					color: black;
				}

				.text {
					padding-bottom: 0;
					font-family: "Montserrat", sans-serif;

					span {
						font-size: 14px;
						font-weight: normal;
					}
				}

				/*
				name-text {
					color: black;
					font-weight: 500;

					span {
						font-size: 14px;
						font-weight: normal;
						color: #333;
					}
				}
				*/

				.fa-ul {
					margin-top: $lg-space;
					margin-left: 25px;

					i {
						color: $secondary;
					}
				}
			}
		}
	}

	.see-less-btn {
		&.has-more {
			&:before {
				content: '\f053'; // Fix global
			}
		}
	}

	.see-more-btn,
	.see-less-btn {
		    margin-top: -176px;
    z-index: 99999;
    position: relative;
    background: #C5D1EB;
    color: rgb(224, 231, 245);
    padding: 2px 10px;
    border-radius: 30px;

		&.has-more {
			&:after,
			&:before {
				font-size: 28px;
				vertical-align: middle;
			}
		}
	}

	.fa-li {
		color: #3b9341;
	}
}
