@import "jp-section";

@mixin jp-faq {
	@include jp-section;

	.heading {
		margin: auto;
		max-width: 900px;
		text-align: center;

		.h1 {
			display: inline-block;
			margin-bottom: 5px;
		}

		.lead {
			@extend .h3;
			margin: 20px auto;
		}
	}

	.faqs {
		max-width: 800px;
		margin: 0 auto;

		.card {
			border: none;

			.card-header {
				margin-bottom: 0;
				cursor: pointer;
				background-color: white;
				padding: 22px 10px 12px;
				border-color: #333;

				.card-title {
					line-height: 1.15;
					margin-left: 10px;
				}
			}

			.card-body {
				background-color:#ebebeb6b;
			}
		}

		.ask-a-question {
			text-align: center;
			margin: $lg-space auto;

			// .link { }
		}
	}

	ul, ol {
		font-size: 17px;
	}

	&-v2 {
		.heading {
			margin-bottom: 40px;
			max-width: 800px;
			position: relative;
			text-align: left;

			@media screen and (max-width: 767px) {
				margin-bottom: 10px;
			}

			@media screen and (min-width: 768px) {
				padding-right: 230px;
			}

			.lead {
				max-width: none !important;

				@media screen and (max-width: 767px) {
					margin-bottom: 10px !important;
				}
			}

			.icon {
				width: 210px;

				@media screen and (min-width: 768px) {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		.faqs {
			.card {
				.card-header {
					border-color: #ffffff;
					border-width: 2px;
				}
			}
		}
	}
}
