@mixin jp-reviews {
	background-color: #ffffff;
	padding-bottom: 60px;
	position: relative;

	&:before {
		background-color: #e1e7f5;
		content: '';
		height: 50%;
		left: 0;
		// max-height: 450px;
		position: absolute;
		right: 0;
		top: 0;

		body.home & {
			height:100%;
		}
	}

	.container {
		position: relative;
		z-index: 1;
	}

	// &-title {}

	&-subtitle {
		margin: 15px auto 50px;
		max-width: 683px;
	}

	&-box {
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
		padding: 15px 25px 25px;
		position: relative;
		margin: 0 auto;
		max-width: 992px;

		@media screen and (min-width: 768px) {
			padding: 50px;
		}

		&:before {
			background-color: rgba($white, 0.5);
			bottom: 0;
			content: '';
			display: none;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&.loading:before {
			display: block;
		}
	}

	&-top {
		@media screen and (min-width: 768px) {
			align-items: center;
			display: flex;
		}
	}

	&-summary {
		align-items: center;
		display: flex;
		flex: 1 1 0px;
		width: auto;

		&-avg {
			color: #70757A;
			font-family: $heading-font;
			font-size: 32px;
			padding-bottom: 0;
			margin-right: 12px;
		}

		&-stars {
			color: #fbbc06b3;
			margin-right: 12px;

			@media screen and (min-width: 768px) {
				font-size: 24px;
			}
		}

		&-total {
			color: #878787;
			font-family: $heading-font;
			padding-bottom: 0;
		}
	}

	&-filter {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		font-size: 15px;
		margin-top: 15px;
		width: auto;

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: 768px) {
			margin-top: 0;
		}

		label {
			margin-bottom: 0;
			margin-right: 12px;
		}

		// select {}
	}

	&-reviews {
		border-top: 1px solid #eee;
		height: 500px;
		margin: 10px 0 0;
		max-height: 50vh;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 25px 15px 0 0;

		@media screen and (min-width: 768px) {
			margin: 40px 0 0;
			padding: 30px 30px 0 0;
		}

		// &-inner {}
	}

	&-review {
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}

		&-author {
			margin-bottom: 20px;
		}

		&-image {
			border-radius: 50%;
			height: 60px;
			width: 60px;
		}

		&-title {
			font-size: 18px;
			margin-bottom: 0;
			text-align: left;
		}

		&-stars {
			color: #fbbc06b3;
		}

		&-image-google {
			float: right;
			height: 50px;
			width: 50px;
			margin-top: 7px;
		}

		&-text {
			p {
				&:last-child {
					padding-bottom: 0;
				}
			}

			&-more {
				cursor: pointer;
				color: $primary;
			}
		}
	}

	&-loading-button {
		border-color: $primary;
		color: $primary;
		display: block;
		margin: 15px auto 0;

		&:hover, &:focus {
			background-color: $primary;
			border-color: $primary;
			color: $white;
		}

		.jp-reviews-reviews-box.loading &,
		.jp-reviews-reviews-box.done & {
			visibility: hidden;
		}

		@media screen and (min-width: 1024px) {
			visibility: hidden;
		}
	}

	&-box .jp-loading-icon {
		@include jp-loading-icon;

		display: none;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	&-box.loading .jp-loading-icon {
		display: block;
	}

	// Legacy HTML

	&-box .like-button {
		color: #a3a3a3;
		cursor: pointer;
		display: inline-block;
		font-size: 22px;
		margin-top: 5px;

		data {
			font-size: 15px;
		}
	}
}
