
.widget.aod_ask_question_form_widget{
  color: #333;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 17px;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  border: none;
  padding: 0;

  .aod-title{
    font-weight: bolder;
    cursor: pointer;
  }
}
