.single-posts{

  .entry-header{
    margin-bottom: 0;

    &.has-details{

      .entry-title{
        margin-bottom: 0;
      }
    }
  }
  .question-details {
      background: #ebebeb;
      border-radius: 0 4px 4px 0;
      padding: 15px 10px 0px;
      margin: 25px 0;
      color: #9a9c99;
      font-style: italic;
      border-left: 8px solid #9a9c99;
  }
  .aod-article-accordion{
    margin-top: 15px;

    .heading{
      display:none;
    }
    .aod-article{
      margin-bottom: 25px;

      .card-header{
        border-bottom: none;
		background: none;
		color: #00953b;
		font-family: "Montserrat",sans-serif;
		font-weight: bold;
		padding: 20px 0 5px;
      }
      .card-text{
        padding: .75rem 1.25rem;
      }
    }
  }

  .aod-author-details{
    border-top: 1px solid #e7e9ec;
    padding-top: 20px;
    margin-top: 20px;
  }
  .aod-disclaimer{
    cursor: pointer;
    color: $primary;
    float: right;
	font-family:"Montserrat",sans-serif;
  }
  .author-update-date{
    margin-bottom: 20px;
  }
  .card-body {

    background: #ebebeb;
    padding:17px 15px 0px !important; 
    border-radius: 4px;
	p{
		font-size:13px;
	}

}
}
