#not-ready-modal{

  .modal-dialog{
	max-width: 700px;

	.heading{
	  .close{
		right: 10px;
		position: absolute;
		font-size: 30px;
	  }
	  img{
		display: block;
		max-width: 58px;
		margin: $md-space auto 0;
	  }
	}
	.modal-title {
	  text-align: center;
	  width: 100%;
	  font-size: 42px;
	  font-weight: bold;
	}
	p{
	  margin-top:$sm-space;
	}

	.modal-footer {
	  border-top: none;
	  margin-bottom: $md-space;
	  text-align: center;
	  display: block;

	  p{
		@extend .h3;
		color: $primary;
	  }
	 .call-action{
	   background-color: $primary;
	   color:white;
	   display: inline-block;
	   margin: auto;
	   padding: $md-space;
	   clear: both;
	   font-size: 24px;
	   a{
		 color:white;
	   }
	 }
	}
  }

}
