#not-ready-modal{

  .modal-dialog{
	max-width: 700px;

	.heading{
	  .close{
		right: 10px;
		position: absolute;
		font-size: 30px;
		Color:white;
		top:5px;
	  }
	  img{
		display: block;
		max-width: 58px;
		margin: $md-space auto 0;
	  }
	}
	.modal-title {
	  width: 100%;
	  padding:25px 0 15px;
	  text-align:center;
	  background:$primary;
	  color:white;
	  margin-bottom: 10px;
	}
	p{
	  margin-top:$sm-space;
	}
	.modal-body {
		padding: 1rem 0;
	}

	.modal-footer {
	  border-top: none;
	  margin-bottom: $lg-space;
	  text-align: center;
	  display: block;

	  p{
		@extend .h3;
		color: $primary;
		padding-bottom: 0;
	  }
	 .call-action{
	   font-family:$heading-font;
	   a{
		 color:white;
	   }
	   .phone{
	       color: #0033a1;
    border: 2px solid #0033a1;
    border-radius: 26px;
    padding: 7px 21px;
    margin: 0 auto;
    font-size: 22px;
    width: 287px;
    display: block;
    text-align: center;}
	 }
	 .phone:before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
	}
  }

}
