#homepage{
  .above-fold{
	.default-container{
	  @media(max-width: 767px){
		padding-bottom: 0;
	  }
	  .feature{
		margin: $xl-space 0;

		@media(max-width: 767px){
		  margin-bottom: 0;
		}
		text-align: left;

		.lead{
		  line-height: 36px;
		}
		.card{
		  &.transparent{
			@media (max-width: 767px) {
			  display: block;
			  margin-bottom: $lg-space;

			}
		  }
		}
		.rating-section{
		  margin: $md-space;

		  > .row > div{
			@media (max-width: 767px) {
			  display: block;
			  margin-bottom: $lg-space;

			}
		  }
		  .i-rating{
			  &:nth-child(even){
				.ratings{

				  @media (min-width: 767px) {
					margin-left: 10px;
				  }
				}
			  }
			  .content{
				margin-left: 4px;
			  }
		  }

		}
		#homepage-above-fold-slider{
		  opacity: 0;
		  visibility: hidden;
		  transition: opacity 1s ease;
		  -webkit-transition: opacity 1s ease;

		  &.slick-initialized {
			visibility: visible;
			opacity: 1;
		  }
		  .slide-item{

			.slide-img{
			  background:  no-repeat center;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  height: 410px;
			  width: 600px;
			  opacity: 0;
			  -webkit-transition: all 1s ease;
			  -moz-transition: all 1s ease;
			  -ms-transition: all 1s ease;
			  -o-transition: all 1s ease;
			  transition: all 1s ease;
			}
			.slide-tag{
			  position: absolute;
			  z-index: 3;
			  color: $main-font;
			  line-height: 18px;
			  bottom: 41px;
			  width: 100%;

			  .item-info-container{
				padding: $md-space ;
				background-color: white;

				.item-info{
				  display: block;

				  .name{
					display: block;
					font-weight: bold;
				  }
				}
			  }
			  .item-mark-container{
				padding: $md-space;
				width: 100%;
				background-color: rgba(0,0,0,.7);
				text-align: right;
				color: white;

				.item-mark{
				  width: 100%;

				  .mark-item{
					display: block;
					font-weight: bold;
				  }
				  .see-more-link{
					color: $gray-500;
					cursor: pointer;

					i{
					  display: inline-block;
					  margin-left: 4px;
					  position: relative;
					  top: 2px;

					}
				  }
				}

			  }
			}
		  }
		}
	  }
	  .insurance-section{
		padding: $lg-space 0;
	  }
	}

  }

  .block-1{
	padding: $lg-space 0;
	text-align: center;
	background: $background-color;
	border-top: $border-color 1px solid;
	border-bottom: $border-color 1px solid;

	.header{
	  margin: 0 auto $xl-space auto;
	  max-width: $lg-width;
	  .heading{
		@extend .page-heading;
	  }
	  .lead{
		@extend .h1;
		line-height: 36px;
	  }
	}

	.media{
	  @extend .h5;
	  text-align: left;
	  img{
		width: 75px;
		height: 75px;
		border-radius:50%;
	  }
	  a.btn{
		display: inline-block;
		margin-right: 5px;
	  }
	}
  }
  .block-2{
	padding: $xl-space 0;

	.heading-prime{
		margin-bottom: $xl-space;

	  @media(max-width: 767px){
		text-align: center;
		margin-bottom: $sm-space;
	  }
	}
	@media(max-width: 767px){
	  padding-bottom: 0;
	}

	.featured-on{

	  .badge{
		margin-right: $sm-space;
		margin-bottom: $sm-space;
	  }
	}
	#homepage-multi-gallery {
	  max-width: 96%;
	  @media (max-width: 767px) {
		max-width: 100%;
		margin-top: $xl-space;

	  }
	  margin: auto;

	  .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
		color: $primary;
	  }
	}
  }
  .block-3{
	margin: $xl-space 0;
  }
  .block-4{
	padding: $xl-space 0;
	color: white;
	background: $primary;
	fieldset{

	}
	.service-container{
	  border: 2px  solid white;
	  margin-top: $lg-space;
	  border-radius: 20px;
	  padding: $lg-space;

	  .heading{
		color: white;
		text-align: center;
		background: $primary;
		padding: 0 30px;
		@extend .page-heading;
		display: table;
		margin: -33px auto 0 auto;
		position: relative;
		top: -24px;
	  }

	  .box{
		text-align: center;
		font-size: 24px;
		padding: 40px $lg-space;
		border-right: 2px solid white;

		@media (max-width: 767px) {
		  border-right: 0;
		}

		&.last{
		  border: none;
		}
		i{
		  font-size: 42px;
		  display: block;
		}
	  }
	}
  }
  .faqs{
	margin: $xl-space auto;
	max-width: $lg-width;

	.heading{
	  @extend .page-heading;
	  text-align: center;
	  margin-bottom: $md-space;
	}
  }
}
