
.homepage-2 {
	overflow-x: hidden;
	.above-fold {
	.default-container {
	  padding-top: 40px;
	  @media (max-width: 767px) {
		padding-bottom: 0;
		h1 {
		  display: none;
		}
		.h3 {
		  font-family: "Montserrat", sans-serif;
		  font-size: 40px;
		  line-height: 1.25;
		  letter-spacing: -3px;
		  font-style: normal;
		}
	  }
	  hr {
		display: none;
		@media (max-width: 767px) {
		  display: block;
		  border: 0;
		  margin: 21px auto 0;
		  background: #0033a1;
		  height: 4px;
		  width: 60px;
		}
	  }
	  .no-pad {
		padding-bottom: 0;
	  }
	  .embed-responsive {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	  }
	  .feature {
		margin: $xl-space 0 $lg-space;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 35px 65px;

		@media (max-width: 767px) {
		  margin: 15px -15px 0;
		  padding: 10px 0 30px;
		  background-color: rgba(255, 255, 255, 0.3);
		}
		.row {
				max-width: 1240px;
				margin: 0 auto;
		}
		text-align: left;

		.lead {
		  font-size: 22px;
		  font-weight: 100;
		  font-style: italic;
		  font-family: Georgia, "Times New Roman", Times, serif;
		  letter-spacing: 0;
		}
		.card {
		  &.transparent {
			background-color: transparent;
			border: none;
			@media (max-width: 767px) {
			  display: block;
			}
		  }
		}
		.rating-section {
		  margin: -2px $md-space $md-space;

		  > .row > div {
			@media (max-width: 767px) {
			  display: block;
			  margin-bottom: 10px;
			}
		  }
		  .i-rating {
			&:nth-child(even) {
			  .ratings {
				@media (min-width: 767px) {
				  margin-left: 10px;
				}
			  }
			}
			.content {
			  margin-left: 4px;
			}
		  }
		}
		#homepage-above-fold-slider {
		  opacity: 0;
		  visibility: hidden;
		  transition: opacity 1s ease;
		  -webkit-transition: opacity 1s ease;

		  &.slick-initialized {
			visibility: visible;
			opacity: 1;
		  }
		  .slide-item {
			.slide-img {
			  background: no-repeat center;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  height: 410px;
			  width: 600px;
			  opacity: 0;
			  -webkit-transition: all 1s ease;
			  -moz-transition: all 1s ease;
			  -ms-transition: all 1s ease;
			  -o-transition: all 1s ease;
			  transition: all 1s ease;
			}
			.slide-tag {
			  position: absolute;
			  z-index: 3;
			  color: $main-font;
			  line-height: 18px;
			  bottom: 41px;
			  width: 100%;

			  .item-info-container {
				padding: $md-space;
				background-color: white;

				.item-info {
				  display: block;

				  .name {
					display: block;
					font-weight: bold;
				  }
				}
			  }
			  .item-mark-container {
				padding: $md-space;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.7);
				text-align: right;
				color: white;

				.item-mark {
				  width: 100%;

				  .mark-item {
					display: block;
					font-weight: bold;
				  }
				  .see-more-link {
					color: $gray-500;
					cursor: pointer;

					i {
					  display: inline-block;
					  margin-left: 4px;
					  position: relative;
					  top: 2px;
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}
	}
	 section.insurance-section {
	background-color: $light-blue;
	padding: 25px 0 45px;

	h5{
		color:$primary;
		font-weight:bold;
	}
	p{
		max-width: 683px;
		margin: 0 auto;
	}
	a {
	color:$secondary;
	cursor: pointer;
	}
	}
	.arrow-divider-container .arrow-divider hr:after {
	background-image: url(/wp-content/themes/journeyPure/assets/img/background-diagmonds.png);
	border-bottom: none;
	border-right: none;
	}
	.arrow-divider{
	border-top-color:$light-blue;
	}
	.arrow-divider-container .arrow-divider hr:before {
		border-color:$light-blue;
	}
	.block-1 {
	padding: 30px 0 17px;
	text-align: center;
	background-image: url(/wp-content/themes/journeyPure/assets/img/background-diagmonds.png);

	.header {
	  margin: 0 auto $lg-space auto;
	  max-width: 683px;
	  .heading {
		@extend .page-heading;
	  }
	  .lead {
		@extend .h5;
		color: $main-gray;
		line-height:1.5;
	  }
	}

	.media-body {
	  margin-top: $lg-space;
	  h5 {
		font-size: 17px;
		color: $main-gray;
		line-height: 0;
	  }
	  p {
		font-family: $heading-font;
		color: $main-gray;
	  }
	}

	.media {
	  @extend .h5;
	  text-align: left;
	  img {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	  }
	  a.btn {
		display: inline-block;
		margin-right: 5px;
	  }
	}
	}
	.bio-section {
	margin: $xl-space auto 45px;
	max-width: 1241px;
	.heading,
	.subheading {
	  max-width: 850px;
	  margin-top: 15px;
	}
	.bio-slider {
	  margin-top: $lg-space;
	  visibility: visible;

	  &.slick-initialized {
		visibility: visible;
		opacity: 1;
		font-family: $heading-font;
	  }
	  .card {
		margin: auto;
		text-align:center;


		.bios {

		  .img {
			background: no-repeat center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			display: block;
			margin: 5px auto $lg-space;
		  }
		  .name-text {
			font-weight: bold;
			color: black;
		  }
		  .text {
			padding-bottom: 0;
			font-family: "Montserrat", sans-serif;
			span {
			  font-size: 14px;
			  font-weight: normal;
			}
		  }
		  .name-text {
			color: black;
			font-weight: bold;
			span {
			  font-size: 14px;
			  font-weight: normal;
			  color: #333;
			}
		  }

		  .fa-ul {
			margin-top: $lg-space;
			margin-left: 25px;
			i {
			  color: $secondary;
			}
		  }
		}
	  }
	}
	}
	.block-2 {
	padding: 55px 0 0;

	.container {
	  max-width: 1241px;
	}
	.media-box {
	background:none !important;
	margin:0 !important;
	img {
		max-width:60px !important;
	}
	}

	.details {
	  margin: 40px 0 35px;

	  .media-number-list {
		padding-bottom: 25px;
		h5 {
		  margin-bottom: 10px;
		}
	  }
	}

	.facility-photos {
	  height: 100%;
    margin: -95px 0;
    padding-left: 75px;
	
	img {
	    min-height: 1px;
    height: 100%;
    width: fit-content;
    overflow: hidden;
	}

	  @media (max-width: 991px) {
		margin: 3px 3px -30px;
		padding-left: 0;
	  }
	}

	.mobile-only {
	  display: none;
	  @media (max-width: 1100px) {
		display: block;
		margin-top: 1px;
	  }
	}

	.heading-prime {
	  margin-bottom: $lg-space;
	}
	@media (max-width: 767px) {
	  padding-bottom: 0;
	}

	.featured-on {
	  span {
		color: $main-gray;
	  }
	  span:after {
		border-color: $main-gray !important;
	  }

	  .badge {
		margin-right: $sm-space;
		margin-bottom: $sm-space;
	  }
	}
	#homepage-multi-gallery {
	  max-width: 96%;
	  @media (max-width: 767px) {
		max-width: 100%;
		margin-top: $xl-space;
	  }
	  margin: auto;

	  .slick-prev:before,
	  .slick-next:before,
	  .slick-prev:after,
	  .slick-next:after {
		color: $primary;
	  }
	}
	}
	.block-3 {
	padding: 55px 0 15px;
	background:$light-blue;
	.container{
		max-width: 1241px;
	}

	h3 {
	  margin:15px 0 45px;
		  max-width: 850px;
	}
	i {
	background: $primary;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	border-radius: 5px;
	color: $light-blue;
		font-size: 28px;
	}
	.why-point{
	margin-bottom:40px;
		max-width: 584px;
	}
	.col-lg-11 {
	padding-left:35px;

	}
	}
	.block-4 {
	padding:60px 15px 25px;
	color: $primary;
	background: $light-blue;
	font-weight: bold;
	font-family: $heading-font;
	line-height: 50px;
	p {
	  padding-bottom: 0;
	}
	.service-container {
	  border: 2px solid $primary;
	  margin-top: $lg-space;
	  border-radius: 20px;
	  padding: $lg-space;

	  .heading {
		color: $primary;
		text-align: center;
		background: $light-blue;
		padding: 0 30px;
		@extend .page-heading;
		display: table;
		margin: -33px auto 0 auto;
		position: relative;
		top: -24px;
		font-size: 40px;
		font-weight: 100;
	  }

	  .box {
		text-align: center;
		font-size: 24px;
		padding: $xl-space $lg-space;
		border-right: 2px dotted $primary;

		@media (max-width: 767px) {
		  border-right: 0;
		  padding: 25px;
		}

		&.last {
		  border: none;
		}
		i {
		  font-size: 42px;
		  display: block;
		  color: $primary;
		}
	  }
	}
	}
	.review-section{
	margin-top:0;
	padding-bottom:40px;
	}
	.review-logo {
	position: absolute !important;
	right: 15px;
	top: 15px;
	float: right;
	display: inline;
	img {
	  max-width: 60px;
	  height: auto;
	  border-radius: 0;
	}
	}

	.faqs {
	margin: $xl-space auto;
	max-width: $lg-width;

	.heading {
	  @extend .page-heading;
	  text-align: center;
	  margin-bottom: $md-space;
	}
	}
	.note-box {
	background-color: #fcf8e3;
	padding: 20px 20px 50px;
	margin: 0 -15px 20px;
	display: block;
	text-align: center;
	margin-bottom: -15px;
	h3 {
	  color: #fbbb06;
	  font-family: "Montserrat", sans-serif;
	  font-weight: bold;
	  font-style: normal;
	  font-size: 20px;
	  max-width: 800px;
	  margin: 10px auto;
	}
	.note-cta {
	  color: #fbbb06 !important;
	  border-radius: 4px;
	  border: 2px solid #fbbb06;
	  padding: 6px 12px;
	}
	p {
	  font-family: "Montserrat", sans-serif;
	  color: #fbbb06 !important;
	  margin: 0 0 5px;
	  padding: 0;
	}
	}
	.call-text {
	background-color: $primary;
	img {
		height:100%;
		opacity: 0.4;
	}

	.text-side{
		color:white;
		max-width: 644px;
		padding:50px 15px 65px 35px;

		.h1 {
			color:white;
		}
		p {
			color:white;
		}
		ul {
			font-family:$heading-style-1;
			font-size:17px;
			margin-bottom:45px;
		}
		h3{
			color:white;
			margin: 15px 0 25px;
			
		}
		.note-cta {
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 14px 28px;
}
	}
	}
}
