#reviews-page{

  // Import above fold  styles that are global
  @import "../page-parts/above-fold";
  
  .above-fold  {
  .top-content {
	  margin-top: -100px;
  }
@media (max-width: 767px) {
	.rating-section {
	  	margin-top: -150px;
    	padding-bottom: 118px;
	}
  }
}
  .review-section{
	margin-top: 0;

	.parent{
	  .divider{
		display: block;
		margin: 0 auto $xl-space ;
		width: 100%;
		height: 1px;
		border-top: 2px dotted $main-gray;
		clear: both;
	  }
	  &.last{
		.divider{
		  border:none;
		}
	  }
	}
  }
  .review-video{
	padding: $xl-space 0;

	.video-preview-slider{
	  @media(max-width: 767px){
		border-top: 2px dotted;
		padding-top: $lg-space;
	  }

	}
	
	.h1 {
		border-bottom: 2px dotted gray;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}

	.feature-video{
	  position: relative;
	  cursor: pointer;
	  padding: 0 0 $xl-space;

	  .play-button{
		position: absolute;
		z-index: 200;
		top: 50%;
		left: 50%;
		margin-left: -75px;
		margin-top: -75px;
		font-size: 50px;
		background-color: $primary;
		padding: $lg-space $xl-space;
		border-radius: 3px;
		color:white;
		@include transition(all .4s ease);

		&:hover{
		  background-color: darken($primary, 8%);

		}
	  }
	}
  }

  .video-preview-slider{
	.slide-box{
	  padding: $md-space;

	  .content-container{
		position: relative;

		.image-box {
		  background: no-repeat center;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  width: 100%;
		  height: 130px;

		  @media (max-width: 767px) {
			height: 220px;
		  }
		  cursor: pointer;
		  opacity: 1;
		  @include transition(all .4s ease);

		  &:after {
			font-size: 14px;
			background-color: $primary;
			padding: 3px 10px;
			border-radius: 3px;
			color: white;
			@extend .font-awesome;
			content: '\f144';
			position: absolute;
			left: 50%;
			top: 23%;
			margin-left: -20px;

			@include transition(all .4s ease);
		  }

		  &:hover {
			opacity: .8;

			&:after {
			  background-color: darken($primary, 8%);
			}
		  }
		}

		.heading{
		  margin-top: $sm-space;
		  width: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}

	  }
	}
  }
  .slick-disabled{
	opacity: 0;
  }
  .faqs{
	margin-bottom: $xl-space;
	.heading{
	  @extend .page-heading;
	  text-align: center;
	  margin-bottom: $md-space;
	}

	aside{
	  background-color: $background-color;
	  border:1px solid $border-color;
	  padding: $lg-space;
	  text-align: center;
	  margin: auto;

	  blockquote{
		@extend .page-heading;
	  }

	  .btn{
		margin: $lg-space 0;
	  }

	  .media-container{
		.media{
		  background: white;
		  padding: $md-space;
		  border: 1px solid lighten($border-color,7%);

		  img{
			border-radius: 50%;
			width: 50px;
		  }
		  .name{
			margin-top: 0;
			margin-bottom: 0;
		  }
		  p{
			padding: 0;
		  }
		}
	  }

	}
  }
  .insurance-section{
	margin-bottom: $xl-space;
  }
}
