.review-section{
  background: $background-color;
  margin-top: $xl-space;
  padding: $xl-space 0 0 0;

  .parent{
	overflow: auto;

	.content-container-left{
	  width: 30%;
	  float: left;
	  @media (max-width: 767px) {
		width: 100%;
		float: none;
		margin-bottom: $md-space;
	  }

	  .details{
		text-align: center;
		margin-right: 5px;
		p{
		  padding: 0;
		}
		.heading{
		  margin-bottom: 0;
		  margin-top: 3px;
		  padding-bottom: 0;
		  line-height: 22px;
		}
		.stars{
		  color: $accent;
		}

	  }
	  .sub-text{
		.review-count{
		  data{
			font-weight: bold;
			display: inline-block;
			margin-right: 3px;
		  }
		}
	  }
	}

	.content-container-right{
	  width: 70%;
	  float: right;

	  @media (max-width: 767px) {
		width: 100%;
		float: none;

	  }

	  .card{
		.card-body{
		  .author-info{
			margin-bottom: $lg-space;
			img{
			  width: 100px;
			  height: 100px;
			  border-radius: 50%;
			}
		  }
		  .stars{
			color: $accent;
		  }
		}
	  }
	  .review-nav{
		text-align: right;

		.see-more-btn,.see-less-btn{
		  margin-top: 10px;
		  &.slick-disabled{
			opacity: 0;
		  }
		  &.has-more{
			cursor: pointer;
			color: $primary;

			&:after,&:before{
			  @extend .font-awesome;
			  display: inline-block;
			  position: relative;
			  font-size: 10px;
			}
		  }
		}
		.see-more-btn{
		  float: right;
		  &.has-more{

			&:after{
			  content: '\f054';
			  margin-left: 5px;
			}
		  }
		  data{
			display: inline-block;
			margin-right: 3px;
		  }
		}
		.see-less-btn{
		  float: left;
		  &.has-more{
			display: block;
			&:before{
			  content: '\f104';
			  margin-right: 5px;
			}
		  }
		}
	  }
	}
  }
}
