.review-section{
  background: $background-color;
  margin-top: $xl-space;
  padding: $xl-space 0 0 0;

  .parent{
	overflow: auto;

	.content-container-left{
	  width: 30%;
	  float: left;
	  @media (max-width: 767px) {
		width: 100%;
		float: none;
		margin-bottom: $md-space;
	  }

	  .details{
		text-align: center;
		margin-right: 5px;
		p{
		  padding: 0;
		  font-family:$heading-font;
		}
		.heading{
		  margin-bottom: 0;
		  margin-top: 3px;
		  padding-bottom: 0;
		  line-height: 22px;
		}
		.stars{
		  color: $stars;
		}

	  }
	  .sub-text{
		.review-count{
		  data{
			font-weight: bold;
			display: inline-block;
			margin-right: 3px;
		  }
		}
	  }
	}

	.content-container-right{
	  width: 70%;
	  float: right;

	  @media (max-width: 767px) {
		width: 100%;
		float: none;

	  }

	  .card{
		.card-body{

		  .author-info{
			margin-bottom: $lg-space;
			@media (max-width: 767px) {
			  text-align: center;
			}
			img{
			  width: 60px;
			  height: auto;
			  border-radius: 50%;

			  @media (max-width: 767px) {
				margin:auto;
			  }
			  &.source-img{
				max-width: 60px;
				height: auto;
				float: right;
				border-radius: 0;
			  }
			}
		  }
		  .stars{
			color: $stars;
			display: inline-block;
			clear: left;
		  }
		  .like-button{
			color:$primary;
			display: inline-block;
			margin-left: 5px;

			data{
			  position: relative;
			  top:1px;
			}
		  }
		}
	  }
	  .review-nav{
		text-align: right;


	  }
	}
  }
}
